*.dll
*.dylib
*.jnilib
*.lib
*.obj
*.exp
*.log
*.exe
*.pdb
*.txt
bin/
*.iml
.idea/*
.vscode/*
target/*
out/*
src/main/cpp/*.txt
.classpath
.factorypath
.project
.settings

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Debug files/resources
*.aps
*.TMP
*.rc
resource.h

# Visual Studio 2015/2017 cache/options directory
.vs/

# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Video Files
*.mp4
*.avi

# Google Test Package
packages/

.DS_Store

**/dependencies/*
SDL2.framework/*

# Xcode files
## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
**/xcuserdata/*

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
