<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.0//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_0.dtd">

<module name="Checker">
  <module name="TreeWalker">
    <module name="NoWhitespaceAfter">
      <!-- Default tokens and additional GENERIC_START -->
      <property name="tokens" value="ARRAY_INIT, BNOT,DEC, DOT, INC, LNOT,UNARY_MINUS, UNARY_PLUS, GENERIC_START"/>
    </module>

        <module name="NoWhitespaceBefore">
            <!-- Default tokens and additional GENERIC_START and GENERIC_END -->
            <property name="tokens" value="SEMI, POST_DEC, POST_INC, GENERIC_START, GENERIC_END"/>
        </module>

        <module name="WhitespaceAfter">
            <!-- Default tokens and additional GENERIC_END -->
            <property name="tokens" value="COMMA, SEMI, TYPECAST, GENERIC_END"/>
        </module>

        <module name="WhitespaceAround">
            <!-- Default tokens without GENERIC_START and GENERIC_END -->
            <property name="tokens" value="ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LCURLY, LE, LITERAL_ASSERT, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION, RCURLY, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN, STAR, STAR_ASSIGN, TYPE_EXTENSION_AND, WILDCARD_TYPE"/>
        </module>
  </module>
</module>