<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.7.4</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>datavyu</string>
  <key>CFBundleIconFile</key>
  <string>datavyu.icns</string>
  <key>CFBundleIdentifier</key>
  <string>org.datavyu.datavyu</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Datavyu</string>
  <key>CFBundleDocumentTypes</key>
  <array>
  <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleTypeName</key>
      <string>Datavyu Database File</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>CFBundleTypeIconFile</key>
      <string>datavyu.icns</string>
      <key>CFBundleTypeExtensions</key>
      <array>
          <string>opf</string>
      </array>
      <key>CFBundleTypeMIMETypes</key>
      <array>
          <string>application/opf</string>
      </array>
      <key>LSIsAppleDefaultForType</key>   <true/>
  </dict>
  </array>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <!-- See http://developer.apple.com/library/mac/#releasenotes/General/SubmittingToMacAppStore/_index.html
       for list of AppStore categories -->
  <key>LSApplicationCategoryType</key>
  <string>unknown</string>
  <key>CFBundleVersion</key>
  <string>100</string>
  <key>NSHumanReadableCopyright</key>
  <string>Unknown</string>
  <key>JVMRuntime</key>
  <string>jdk1.8.0_31.jdk</string>
  <key>JVMMainClassName</key>
  <string>com.javafx.main.Main</string>
  <key>JVMAppClasspath</key>
  <string></string>
  <key>JVMMainJarName</key>
  <string>datavyu-jfx.jar</string>
  <key>JVMPreferencesID</key>
  <string>org/datavyu/datavyu</string>
  <key>JVMOptions</key>
  <array>
    <string>-Xmx1g</string>
  </array>
  <key>JVMUserOptions</key>
    <dict>

    </dict>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
 </dict>
</plist>
