<suite name="FFmepgPluginTestSuite">
    <groups>
        <define name="ALL">
            <include name="mediaPlayer" />
            <include name="playbackRate" />
        </define>

        <define name="mediaPlayerGroup">
            <include name="mediaPlayer" />
        </define>

        <define name="playbackRateGroup">
            <include name="playbackRate" />
        </define>

        <run>
            <include name="mediaPlayerGroup"/>
        </run>
    </groups>
    <test name="MediaPlayerTest">
        <classes>
            <class name="org.datavyu.plugins.ffmpeg.TestMediaPlayerData" />
        </classes>
    </test>
    <test name="MediaPlaybackRate">
        <classes>
            <class name="org.datavyu.plugins.ffmpeg.TestPlaybackRate" />
        </classes>
    </test>
</suite>